
<!DOCTYPE html>
<html lang="en" dir="ltr" >
  <head>
    <meta charset="utf-8">
    <title>Formulario Login</title>
    <link rel="stylesheet" href="login.component.css">
  </head>
  <body>
    
    <section class="form-login">    
      <h5>Formulario Login</h5>
      <input class="controls" type="text" [(ngModel)]="nombreUsuario" value="" placeholder="Usuario" style="color:aliceblue">
      <input class="controls" type="password" [(ngModel)]="passwordUsuario" value="" placeholder="Contraseña" style="color:aliceblue">
      <input class="buttons" type="submit" name="submit" value="Ingresar" id="button-addon1" (click)="Login()">
      <p>BIENVENIDO </p>

    </section>

  </body>
</html>
