<div class="card card border-success" style="width: 18rem;">
    
    <img src={{[DatoJugadorEspecifico.Imagen]}} class="card-img-top" alt="...">
    <div class="card-body ">
        
        <h5 class="card-title">{{DatoJugadorEspecifico.Nombre}} {{DatoJugadorEspecifico.Apellido}}</h5>
        <p class="card-text">Nombre: {{DatoJugadorEspecifico.Nombre}}</p>
        <p class="card-text">Apellido: {{DatoJugadorEspecifico.Apellido}}</p>
        <p class="card-text">Seleccion: {{DatoJugadorEspecifico.Seleccion}}</p>
        <p class="card-text">Region: {{DatoJugadorEspecifico.Region}}</p>

    </div>
</div>
<!– Se coloca en doble llave por que nos dejara llamar componentes desde nuestro ts –>